@font-face {
    font-family:myFirstFont ;
    src: url(Daizen.otf);
}
    
    
body{
    width: max-content;
    display: flex;
    flex-direction: column;
    background-image: url("https://i.pinimg.com/originals/93/7b/e8/937be8a79975459131bca4fd2818fc20.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

p{
    font-size: 20px;
    color: honeydew;
}

.date{
    font-size: 25px;
    font-style:italic;
}
.text{
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    color:honeydew;

    
    
}
.party{
    font-size: 60px;
}


.btn {
  appearance: none;
  background-color:rgb(206, 218, 79);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
label{
    font-weight: bold;
    color: lavenderblush;
    width: 150px;
}
